


<div class="contentContainer">




  <div class="inputContainer">
    <div class="welcomeText">
      Welcome to <span>DevMountain</span> Social Add Some Info So Friends Can Find You.
    </div>
    <input type="text" name="name" placeholder="Full Name"></input>
    <input type="text" name="name" placeholder="Tagline"></input>
    <input type="text" name="name" placeholder="Profile Image URL"></input>
    <input type="text" class="bio" placeholder="Bio"></input>
    <button type="text" name="button" value="Save Changes">Save Changes</button>
  </div>

  <div class="right-side">
    <div class="triangle-background"></div>
    <div class="triangle-foreground"></div>
  </div>


</div>
